.App {
  text-align: center;
  background-color: #fbfbfbae;
}
  .App {
    text-align: center;
}

body{
  text-align: center;
    background-color: rgb(232, 225, 94);

  
}
.btn btn-light{
    text-align: center;
}

table{
  width: 100%;
}

